.nav-item .nav-link {
    font-size: 1rem;
    padding: 8px 16px;
    transition: all 0.3s ease; /* Smooth transition */
    color: var(--bs-body-color);
    border-radius: 5px;
  }
  
  .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Gray background */
    color: var(--bs-body-color);
    font-size: 1.1rem; /* Slightly enlarge the text */
    transform: scale(1.1); /* Slightly scale the link */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  }
  svg:hover {
    fill: rgb(31, 28, 28); /* Change fill color on hover */
    transform: scale(1.1); /* Slightly enlarge the icon */
    transition: all 0.3s ease-in-out;
  }
  .btn-primary:hover ,.Hamburger:hover {
    background-color: #0056b3 !important; /* Darker shade of blue */
    border-color: #004085 !important;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  
  .btn-outline-secondary:hover,  .btn-secondary:hover  {
    background-color: #6c757d !important;
    color: white !important;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  